<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <h3>Title</h3>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <h3>Post Content:</h3>
            <textarea id="post-content" name="post-content"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>